alembic
click
colorama
dnspython
email-validator
Flask
Flask-Cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
psycopg2
python-dotenv
six
SQLAlchemy
Werkzeug
WTForms
zipp
