{% extends 'base.html' %}

{% block content %}


<header class="hero-section-create">
  
<div class="container">
{% for message in get_flashed_messages() %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  
</svg>


<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

</div>    

{% endfor %}

<h1>Create Your Character !</h1><br>
    <form method = 'Post'>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name() }}<br><br>
        <h5>Gender: </h5>{{ form.gender() }}<br><br>
        <h5>Level: </h5>{{ form.level() }}<br><br>
        <h5>Class: </h5>{{ form.thisClass() }}<br><br>
        <h5>Race: </h5>{{ form.thisRace() }}<br><br>
        {{ form.submit_button() }}<br><br>
    </form><br>
      {% if theRandom %}
        <!-- <form method = 'Post'>
        </form> -->
        
        
        <table class="table table-hover table-bordered table-dark table-striped">
            <thead>
              <tr>
                    <th scope="col">Level</th>
                    <th scope="col">Name</th>
                    <th scope="col">Race</th>
                    <th scope="col">Class</th>
                    <th scope="col">Hp</th>
                    <th scope="col">AC</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Dexterity</th>
                    <th scope="col">constitution</th>
                    <th scope="col">Intellegence</th>
                    <th scope="col">Wisdom</th>
                    <th scope="col">Charisma</th>
                    
                  </tr>
            </thead>
            
                <tbody>
                  <tr>
                    <th scope="row">{{ theRandom.level }}</th>
                    <td>{{ theRandom.name.title() }}</td>
                    <td>{{ theRandom.race.title() }}</td>
                    <td>{{ theRandom.charClass.title() }}</td>
                    <td>{{ theRandom.hp }}</td>
                    <td>{{ theRandom.ac }}</td> 
                    <td>{{ theRandom.stats['str'] }}</td>
                    <td>{{ theRandom.stats['dex'] }}</td>
                    <td>{{ theRandom.stats['con'] }}</td>
                    <td>{{ theRandom.stats['int'] }}</td>
                    <td>{{ theRandom.stats['wis'] }}</td>
                    <td>{{ theRandom.stats['cha'] }}</td>
                  </tr>
                </tbody>    
          </table>    
             
      </div>
 
    
      {% endif %}
  </header>
{% endblock content %}   
    



     

    
         
                    
                   
              

        
       

    

    
        