{% extends 'base.html' %}

{% block content %}

<header class="hero-section">
    <h3 class="header-text">Welcome, {{ current_user.email }}! This is our Universe of Fantasy</h3>
</header>

<div class="container">
    <h3>Here are your profile details.</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }} </li>
    <!-- TODO: Add access Token-->
    
    </ul>
</div>

{% endblock content %}