
body {
  background-color: black;
  color:white;
}

.header {
  border-bottom: 1px solid hotpink;
}

.app {
  padding: 0;
  min-height: 100vh;
}

.sidebar {
  width : 120px;
  margin: 5px;
  position: sticky;
  top:105px;
  align-self: flex-start;
  align-items: start;
  gap:10px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar a {
  color: hotpink;
}

.sidebar a:hover{
  background-color: aqua;
}

.sidebar a:visited{
  background-color: plum;
}

.c-card {
  margin: 5px;
  background-color: gray;
}

.character-cards {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  row-gap: 10px;
}

.buttonSection {
  display: flex;
  justify-content:space-around ;
}

.flexContainer {
  display:flex;
  column-gap: 10%;
  justify-content: space-around;
}

.heading {
  text-align: center;
}

.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}